<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <runtime>  
    <gcAllowVeryLargeObjects enabled="true" />  
  </runtime>  
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SQLToXlsx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections> 
  <connectionStrings>
    <add name="DefaultConnection" connectionString=";Connection Timeout=3600;" providerName="System.Data.SqlClient" />
  </connectionStrings> 
  <applicationSettings>
    <SQLToXlsx.Properties.Settings>
      <setting name="Query1" serializeAs="String">
        <value> </value>
      </setting>
    </SQLToXlsx.Properties.Settings>
  </applicationSettings>
</configuration>